.equipments{
    background-color: rgb(56, 22, 22);
    position: absolute;
    top: 13%;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-out;
    transform: 'translateY(0)';
}

.details{
    color: white;
    font-size: 2vw;
    font-family: 'Livvic', sans-serif;
}