.Auth{
    margin: 80px auto;
    width: 60%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding :10px;
    box-sizing: border-box;
    background-color: white;
    font-size: 1.5vw;
    font-family: 'Livvic', sans-serif;
}

@media(min-wdth:600px){
    .Auth{
        width: 500px;
    }
}