.navDrop{
    display: none;
}

.dropWrap{
    display: none;
}

@media(min-width:500px){
    .browseShow{
        display: none;
    }
    .tag{
        display: none;
        margin:  auto;
        padding: 5px 10px;
        position: relative;
    }
}

@media(max-width:499px){
   .dropWrap{
       display: block;
       width: 100px;
       margin: auto 0;
       margin-top: 16px;
       text-align: center;
   }
.navDrop{
    color: white;
    display: block;
    list-style: none;
    color: white;
    margin: auto;
    padding: 0;
}
 .navDropDown{
    height: 100%;
    display: flex;
    
}
.dontDrop{
    /* border-bottom: .1px solid white; */
    background: black;
    padding : 5px;
    display: none;
    margin: auto 0;
}
.drop{
    padding : 7px;
    margin: auto 0;
    text-align: center;
    box-sizing: border-box;
    color: white;
    font-size: 1.1rem;
    /* background-color: red; */
}
.dropBrowse{
    margin: auto ;
    text-align: center;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
}
.tag{
    display: inline;
    margin:  auto 6px;
    /* margin-right: 0; */
    padding: 5px;
    position: relative;
    text-align: center;
    cursor: pointer;
    /* background-color: rebeccapurple; */
}
#tag{
    display: block;
    margin:  auto 0;
    padding: 5px;
    color: white;
}
}